*.pyc
build
dist
MANIFEST
vncdotool.egg-info
.coverage
.coverage.*
coverage.xml
htmlcov/
combined/
.tox
docs/_build
.venv/
uv.lock
.vncdo/

*~
#*
tests/servers/screenshots/

.DS_Store
.tool-versions
.vscode/
